.field {
  margin: 10px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  padding:0px 0px 0px 20px;
}

.label {
  align-self: flex-start;
  padding: 9px;
  border: none;
  margin: 5px;
  background-color: rgba(217, 217, 217, 1);
  border-radius: 10px;
  width: 82%;
  height: 30px;
  font-size: 16px;
  font-family: 'K2D';
  font-style: normal;
  @media screen and (max-width: 768px) {
    font-size: 12px;
    width: 70%;
    height: 35px;
  }
}

.input {
  margin: 5px;
  align-self: flex-start;
  background-color: rgba(217, 217, 217, 1);
  padding: 10px;
  border: none;
  border-radius: 10px;
  width: 82%;
  height: 135px;
  margin-top: 15px;
  font-size: 16px;
  font-family: 'K2D';
  font-style: normal;
  @media screen and (max-width: 768px) {
    font-size: 12px;
    width: 70%;
    height: 35px;
  }
}

input[type='submit'] {
  width: 100px;
  height: 33px;
  margin: 5px;
  border-radius: 10px;
  background: #446844;
  color: #ffffff;
  /* margin: 1rem; */
  transition: background-color 0.3s ease;
  align-self: flex-start;
}
input[type='submit']:hover {
  background: #3a563a;
}
input[type='submit']:active {
  transform: translateY(2px); /* Desplazar ligeramente hacia abajo */
}
